@model List<Business.Models.ProjectViewModel>

@{
   
    Layout = "_PortalLayout";
    ViewData["Title"] = "Projects";
}

<div class="project-card-grid">
    @foreach (var project in Model)
    {
        <div class="surface">
            <div class="project-card-header">
                <div class="">
                    <img src="~/images/image-card-projects.svg" alt="Alternate Text" />
                </div>
                <div class="">
                    <h5 class="mb-0">@project.ProjectName</h5>
                    <small class="text-muted">@project.ClientName</small>
                </div>
            </div>
            <p class="mb-5">@project.Description</p>
            @* <ul class="list-unstyled"> *@
            @*     <li><strong>Start:</strong> @project.StartDate.ToShortDateString()</li> *@
            @*     <li><strong>End:</strong> @(project.EndDate?.ToShortDateString() ?? "-")</li> *@
            @*     <li><strong>Budget:</strong> @project.Budget.ToString("C0")</li> *@
            @*     <li><strong>Status:</strong> @project.Status</li> *@
            @* </ul> *@

        </div>
    }
</div>