@model Business.Models.ProjectViewModel
<div class="surface">
    <div class="project-card-header">
        <div class="">
            <img src="~/images/image-card-projects.svg" alt="Alternate Text" />
        </div>
        <div class="">
            <h5 class="mb-0">@Model.ProjectName</h5>
            <small class="text-muted">@Model.ClientName</small>
        </div>
    </div>
    <p class="mb-5">@Model.Description</p>
    @* <ul class="list-unstyled"> *@
    @*     <li><strong>Start:</strong> @project.StartDate.ToShortDateString()</li> *@
    @*     <li><strong>End:</strong> @(project.EndDate?.ToShortDateString() ?? "-")</li> *@
    @*     <li><strong>Budget:</strong> @project.Budget.ToString("C0")</li> *@
    @*     <li><strong>Status:</strong> @project.Status</li> *@
    @* </ul> *@

</div>
